<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script data-main="scripts/main" src="/node_modules/requirejs/require.js"></script>
</head>
<body>

<div id='app'></div>

<script id='foo-template' type='text/template'>
	<h1>Hello Foo<%= title %></h1>
	<a href='bar' data-internal>go to bar</a>
	<p><%= foo %></p>
</script>

<script id='bar-template' type='text/template'>
	<h1>This is Bar</h1>
	<a href='' data-internal>go to foo</a>
	<p><%= bar %></p>
</script>

</body>
</html>